<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CodeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="defaultConnection" connectionString="server=localhost;database=scs_auto_fias__baseline;Trusted_Connection=True;MultipleActiveResultSets=True" />-->
    <add name="defaultConnection"  connectionString="server=QASCSTRN.qa.fiadmin.com;database=scs_auto_fias__qa_automation;Trusted_Connection=True;MultipleActiveResultSets=True" />
    <add name="DocumentConnection" connectionString="server=localhost;database=scs_auto_document_fias__baseline;Trusted_Connection=True;MultipleActiveResultSets=True" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CodeGenerator.Properties.Settings>
            <setting name="Substitutions" serializeAs="String">
                <value />
            </setting>
            <setting name="EntityFolder" serializeAs="String">
                <value>D:\GIT\fi.packages.core.Master\src\fi.packages.core\Entities</value>
            </setting>
            <setting name="ClassNameExpression" serializeAs="String">
                <value>_[a-zA-Z0-9]+</value>
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>FI.Claim</value>
            </setting>
            <setting name="NamespaceSuffix" serializeAs="String">
                <value />
            </setting>
            <setting name="InfrastructureServicesMappingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UnitTestFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TestDataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InfrastructureServicesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InfrastructureServiceUnitTestFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InfrastructureServicesProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InfrastructureServicesQueryFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TestDataNamespace" serializeAs="String">
                <value />
            </setting>
            <setting name="PostSQLSnippet" serializeAs="String">
                <value />
            </setting>
            <setting name="InfrastructureServicesInterfacesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryUnitTestFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ReferencedNamespaces" serializeAs="String">
                <value />
            </setting>
            <setting name="GitRepositoryFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="InfrastructureEntityNamespace" serializeAs="String">
                <value>FI.Domain.Entities</value>
            </setting>
            <setting name="TypePrefixes" serializeAs="String">
                <value>Int16=i,n,bt;Int32=i,n,bt,Int64=i,n,bt;Byte=i,n,bt;AnsiString=s;AnsiStringFixedLength=s;String=s;StringFixedLength=s;Date=dt;DateTime=dt;DateTime2=dt;Currency=c;Decimal=c;Boolean=bt;VarNumeric=n</value>
            </setting>
            <setting name="MappingNamespace" serializeAs="String">
                <value>FI.Claim.Mappings</value>
            </setting>
            <setting name="ServicesNamespace" serializeAs="String">
                <value>FI.Claim.Services</value>
            </setting>
            <setting name="MockDataNamespace" serializeAs="String">
                <value>FI.Claim.Tests.MockData</value>
            </setting>
            <setting name="UnitTestNamespace" serializeAs="String">
                <value>FI.Claim.Tests.UnitTests</value>
            </setting>
            <setting name="QueryNamespace" serializeAs="String">
                <value>FI.Claim.Queries</value>
            </setting>
            <setting name="InfrastructureNamespace" serializeAs="String">
                <value>FI.Core</value>
            </setting>
        </CodeGenerator.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>