<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="APITester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Local" connectionString="server=SEFI01LOLABUSCH;database=scs_auto_fias__baseline;Trusted_Connection=True;MultipleActiveResultSets=True" />
    <add name="QA-Manual" connectionString="server=QASCSTRN.qa.fiadmin.com;database=scs_auto_fias__qa_manual;Trusted_Connection=True;MultipleActiveResultSets=True" />
    <add name="QA-Automation" connectionString="server=QASCSTRN.qa.fiadmin.com;database=scs_auto_fias__qa_automation;Trusted_Connection=True;MultipleActiveResultSets=True" />
    <add name="Release-Manual" connectionString="server=RLSSCSTRN.release.fiadmin.com;database=scs_auto_fias__release_manual;Trusted_Connection=True;MultipleActiveResultSets=True" />
    <add name="Release-Automation" connectionString="server=RLSSCSTRN.release.fiadmin.com;database=scs_auto_fias__release_automation;Trusted_Connection=True;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="Environments" value="QA-Manual,QA-Automation,Release-Manual,Release-Automation,UAT,Production,Other" />
    <add key="QA-Manual" value="https://qa.purefi.co/qa-manual" />
    <add key="QA-Automation" value="https://qa.purefi.co/qa-automation" />
    <add key="ReleaseLogFolder" value="\\appserverms.release.fiadmin.com\PureFILogs" />
    <add key="Release-Manual" value="https://release.purefi.co/release-manual" />
    <add key="Release-Automation" value="https://release.purefi.co/release-automation" />
    <add key="QALogFolder" value="\\appserverms.qa.fiadmin.com\PureFILogs" />
    <add key="UAT" value="https://api.uat.purefi.co" />
    <add key="UATLogFolder" value="\\fileserver.uat.fiadmin.com\purefilogs\uat" />
    <add key="ReleaseLogFolder" value="\\appserverms.release.fiadmin.com\purefilogs" />
    <add key="Production" value="https://api.purefi.co" />
    <add key="ProductionLogFolder" value="\\fileserver.prod.fiadmin.com\purefilogs\FI.Claim" />
    <add key="LocalHostClaimURL" value="http://localhost:5041/fias/claims" />
    <add key="LocalHostContractURL" value="http://localhost:5040/fias/contract" />
    <!--<add key="LocalWebLoginURL" value="https://release.purefi.co/release-manual/login/connect/token" />-->
    <add key="LocalWebLoginURL" value="https://qa.purefi.co/qa-manual/login/connect/token" />
    <add key="LocalLogFolder" value="C:\logs" />
    <add key="Version" value="V2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <APITester.Properties.Settings>
      <setting name="Environemt" serializeAs="String">
        <value />
      </setting>
      <setting name="Path" serializeAs="String">
        <value />
      </setting>
      <setting name="API" serializeAs="String">
        <value />
      </setting>
      <setting name="Action" serializeAs="String">
        <value />
      </setting>
      <setting name="URLParameter" serializeAs="String">
        <value />
      </setting>
      <setting name="DownloadDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="UserID" serializeAs="String">
        <value>FIAS|apiuser|20181120|DFA68ED137A4A3FE3719106D270A2008</value>
      </setting>
      <setting name="UserSecret" serializeAs="String">
        <value>0C3300F0F2C33C868E69509DB551CA0E771CD6CC8122929EE6F52974122603AE</value>
      </setting>
      <setting name="SelectedTPA" serializeAs="String">
        <value>FIAS</value>
      </setting>
      <setting name="Users" serializeAs="String">
        <value>FIAS,FIAS|apiuser|20181120|DFA68ED137A4A3FE3719106D270A2008,0C3300F0F2C33C868E69509DB551CA0E771CD6CC8122929EE6F52974122603AE;AGW,AGW|apiuser|20181210|CEDBC8C18494D24C8F01B116B086F8D3,55EF94F6E71C03F661E28C4D91B7272D67DA76A15D3246D30A7D3956887AF78F</value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value>D:\APITestOutput\</value>
      </setting>
      <setting name="NumberOfTestRuns" serializeAs="String">
        <value>1</value>
      </setting>
    </APITester.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>