<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SelfHostedInstallScriptGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SourcePath" value="\\jenkins.fiadmin.com\DeploymentPackages\Builds"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SelfHostedInstallScriptGenerator.Properties.Settings>
            <setting name="TargetFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TPA" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlDeployerPath" serializeAs="String">
                <value>Utilities\SqlDeployer</value>
            </setting>
            <setting name="DbUpgradePart" serializeAs="String">
                <value>Simple_upgrade</value>
            </setting>
            <setting name="DbReleasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReleasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DbServer" serializeAs="String">
                <value />
            </setting>
        </SelfHostedInstallScriptGenerator.Properties.Settings>
    </userSettings>
</configuration>