<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogFileViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LogFileViewer.Properties.Settings>
            <setting name="QALogsManual" serializeAs="String">
                <value>\\appserverms.qa.fiadmin.com\PureFILogs\qa-manual\FI.Claim</value>
            </setting>
            <setting name="QALogsAutomation" serializeAs="String">
                <value>\\appserverms.qa.fiadmin.com\PureFILogs\qa-automation\FI.Claim</value>
            </setting>
            <setting name="ProductionClaim" serializeAs="String">
                <value>\\fileserver.prod.fiadmin.com\purefilogs\migrate\FI.Claim</value>
            </setting>
            <setting name="UATLogs" serializeAs="String">
                <value>\\fileserver.uat.fiadmin.com\purefilogs\uat\FI.Claim</value>
            </setting>
            <setting name="ReleaseAutomationClaim" serializeAs="String">
                <value>\\appserverms.release.fiadmin.com\PureFILogs\release-automation\FI.Claim</value>
            </setting>
            <setting name="ReleaseManualClaim" serializeAs="String">
                <value>\\appserverms.release.fiadmin.com\PureFILogs\release-Manual\FI.Claim</value>
            </setting>
            <setting name="UATClaim" serializeAs="String">
                <value>\\fileserver.uat.fiadmin.com\purefilogs\uat\FI.Claim</value>
            </setting>
        </LogFileViewer.Properties.Settings>
    </userSettings>
</configuration>